<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BFGAlertController.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4417BDAE1B41C67D0030A354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4417BDC31B41C67D0030A354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4428C5261BDC32EA00532A74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>448D6A121CDD380000E4E92A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
